body{
    margin: 0px;
    padding: 0px; 
    border: 0;
     outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
main
{
    /* line-height: 1.6; */
    background-color: #252529;
    height: 75vh;
    width: 100vw;
}
#image
{
    background-image: url(../HTML/showcase.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;  
    overflow: hidden;
    background-repeat: none;
    /* position: relative;  */
    margin: 0px auto;
    padding: 0px;
}
nav{
    background-color: #252529;
    position: fixed;
    width: 100%;
    height: 40px;
    zoom: 1;
    overflow: hidden;
}
#horizontal-list a
{
    /* background-color: #252529; */
    color: white;
    text-decoration: none;
    /* position: fixed; */
    transition:color 0s;
}
#horizontal-list a:hover
{
    box-shadow: 0px 0px 1.3rem 1.3rem rgb(51,34,34);
    /* color: green; */
}
#horizontal-list
{
    display: inline-block;
    color: white;
    max-height: 0px;
    /* position: fixed;
    background-color: #252529; */
}
#horizontal-list li{
    display: inline;
    padding: 0rem 2rem 2rem 0rem;
    max-height: 5px;
}

#overview
{
    color: white;
    text-align: center;
    top:25%;
    position: relative;
    left: 6%;
}
#overview h1{
    font-size: 4rem;
}
#overview1
{
    font-size: 2rem;
}
#overview2
{
    position: relative;
    font-size: 1.3rem;
}
#overview3
{
    font-size: 1.3rem;
}
#music
{
    background-color: #252529;
    text-align: center;
    color: white;
}
#music1
{
    margin: 0px;
    color: white;
    /* height: 100vh; */
    text-align: center;
    font-size: 2.5rem;
    /* position: relative; */
    padding: 2rem 0rem;
    /* top: 50%; */
}
#music2
{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
#music3
{
    color: white;
    font-size: 1.3rem;
    max-width: 1180px;
    margin-left: 10rem;
    margin-right: 10rem;
}
#music button{
    background-color: red;
    color: white;
    padding: 16px;
    margin-bottom: 1rem;
}
#music-image
{
    display: flex;
    flex-shrink:inherit;
    background-image: url(../HTML/mockup1.png);
    background-size: contain;
    height: 80vh;
    width: auto;
    padding-bottom: 6rem;
    max-width: 1180px;
    margin-left: 160px;
    background-repeat: no-repeat;

}
#video
{
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 1180px;
    text-align: center;
    padding: 2rem 0rem;
    margin-left: 10rem;
  
}
#video h2{
    font-size: 2rem;
    /* padding-top: 3rem; */
}
#video p
{
    font-size: 1.3rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
}
#video a
{
    color: white;
    border:1px solid black;
    background-color: #103063;
    text-decoration: none;
    padding: 16px;
    border-top: 10px;
}
#video-image
{
    margin-top: 1rem;
    background-image: url(../HTML/mockup2.png);
    height: 120vh;
    background-repeat: no-repeat;
}
#entertainment-image
{
    background-image: url(../HTML/section-bg.jpeg);
    width: 100%;
    height:30vh;
    background-size: cover;
   background-repeat: no-repeat;
    padding: 10rem 0rem;
    margin-top: 25rem;
}
#entertainment h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top:4rem;
}
#entertainment p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    padding:4rem;
}
#giftcard
{
    text-align: left;
    display: grid;
}
#giftcard img
{
    height: 450px;
    width:660px;
    max-width: 1180px;
    background-size: contain;
    margin-left: 10rem;
    margin-top: 2rem;
}

#giftcard h2
{
    font-size: 2rem;
    margin-top: 5rem;
    float: right;
    margin-right: 30rem;
    margin-bottom: 4rem;
}
#giftcard1
{
    margin-top: -23rem;
    /* float: right; */
    margin-left: 52rem;
    font-size: 1.3rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}
#giftcard2
{
    margin-left: 52rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
hr{
    margin-left: 52rem;
    /* margin-bottom: 1rem; */
    margin-bottom: 1rem;
}
#giftcard a{
    margin-left: 52rem;
    font-size: 2rem;
    color:var(--secondary-color);
    text-decoration: none;
}
#footer
{
    background-color: #252529;
}
#grid-cols
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
    color: white;
    max-width: 1180px;
}
#grid-cols ul{
    margin-left: 6rem;
    list-style-type: none;
}
#grid-cols li
{
    margin-bottom: 4px;
}
#grid-cols li:first-child
{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}
#grid-cols a
{
    color: white;
    text-decoration: none;
}
#copyright
{
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}